@if (viewMode){
    @if (currentTutorial.id){
        <h4>Opération Comptable</h4>
        <div>
            <label><strong>Date Opération:</strong></label>
            {{ currentTutorial.title }}
        </div>
        <div>
            <label><strong>Recette Aujourd'hui:</strong></label>
            {{ currentTutorial.recipeToday |  currency:"دت ":"symbol":'6.3-3'}}
        </div>
        <div>
            <label><strong>Solde mois Précédent:</strong></label>
            {{ currentTutorial.balancePreviousMonth |  currency:"دت ":"symbol":'6.3-3'}}
        </div>
        <div>
            <label><strong>Total Recette Courante:</strong></label>
            <h4 style="color: green">{{ currentTutorial.totalRecipeToday |  currency:"دت ":"symbol":'6.3-3'}}</h4>
        </div>
        <div>
            <label><strong>Operation du Trésor Précédente:</strong></label>
            {{ currentTutorial.operationTreasuryAnterior |  currency:"دت ":"symbol":'6.3-3'}}
        </div>
        <div>
            <label><strong>Opération du Trésor Courante:</strong></label>
            {{ currentTutorial.operationTreasuryToday |  currency:"دت ":"symbol":'6.3-3'}}
        </div>
        <div>
            <label><strong>Total Opérations du Trésor:</strong></label>
            <h4 style="color: blue">{{ currentTutorial.totalOperationTreasury |  currency:"دت ":"symbol":'6.3-3'}}</h4>
        </div>
        <div>
            <label><strong>Operation de Regulation Précédente:</strong></label>
            {{ currentTutorial.operationPreviousRegulation |  currency:"دت ":"symbol":'6.3-3'}}
        </div>
        <div>
            <label><strong>Operation de Regulation Courante:</strong></label>
            {{ currentTutorial.operationRegulationToday |  currency:"دت ":"symbol":'6.3-3'}}
        </div>
        <div>
            <label><strong>Total Opérations de Régulation :</strong></label>
            <h4 style="color: blue">{{ currentTutorial.totalOperationRegulation |  currency:"دت ":"symbol":'6.3-3'}}</h4>
        </div>
        <div>
            <label><strong>Total Dépenses:</strong></label>
            <h4 style="color: red">{{ currentTutorial.totalExpenses |  currency:"دت ":"symbol":'6.3-3'}}</h4>
        </div>
        <div>
            <label><strong>Solde Courant:</strong></label>
            <h4 style="color: green">{{ currentTutorial.finalBalanceToday |  currency:"دت ":"symbol":'6.3-3'}}</h4>
        </div>
        <div>
            <label><strong>Compte Courant Postal:</strong></label>
            {{ currentTutorial.postCurrentAccount |  currency:"دت ":"symbol":'6.3-3'}}
        </div>
        <div>
            <label><strong>Crédit Attendu:</strong></label>
            {{ currentTutorial.creditExpected |  currency:"دت ":"symbol":'6.3-3'}}
        </div>
        <div>
            <label><strong>Débit Attendu:</strong></label>
            {{ currentTutorial.rateExpected |  currency:"دت ":"symbol":'6.3-3'}}
        </div>
        <div>
            <label><strong>Compte Courant Postal Final:</strong></label>
            <h4 style="color: green">{{ currentTutorial.finalPostCurrentAccount |  currency:"دت ":"symbol":'6.3-3'}}</h4>
        </div>
        <div>
            <label><strong>Autres Valeurs:</strong></label>
            {{ currentTutorial.otherValues |  currency:"دت ":"symbol":'6.3-3'}}
        </div>
        <div>
            <label><strong>États de Répartition:</strong></label>
            {{ currentTutorial.statesRepartition |  currency:"دت ":"symbol":'6.3-3'}}
        </div>
        <div>
            <label><strong>Total Numéraire:</strong></label>
            <h4 style="color: green">{{ currentTutorial.totalCash |  currency:"دت ":"symbol":'6.3-3'}}</h4>
        </div>
        <div>
            <label><strong>Argents en Espèce:</strong></label>
            {{ currentTutorial.moneySpecies |  currency:"دت ":"symbol":'6.3-3'}}
        </div>
        <div>
            <label><strong>Argents en Espèce chez le Caissier:</strong></label>
            <h4 style="color: green">{{ currentTutorial.moneyOnCashier |  currency:"دت ":"symbol":'6.3-3'}}</h4>
        </div>
        <div>
            <label><strong>Code Organism:</strong></label>
            {{ currentTutorial.organism.code }}
        </div>
        <div>
            <label><strong>État d'opération:</strong></label>
            {{ currentTutorial.published ? "Validée" : "en Instance" }}
        </div>

        <div>
          <label><strong>provided Money On Cashier:</strong></label>
          {{ currentTutorial.providedMoneyOnCashier | currency:"دت ":"symbol":'6.3-3'  }}
        </div>

    <div *ngIf="currentTutorial.deficit && currentTutorial.deficit > 0">
      <h4 style="color: red">❌ Déficit: {{ currentTutorial.deficit | currency:"دت ":"symbol":'6.3-3' }}</h4>
    </div>

    <div *ngIf="currentTutorial.surplus && currentTutorial.surplus > 0">
      <h4 style="color: orange">⚠️ Excédent: {{ currentTutorial.surplus | currency:"دت ":"symbol":'6.3-3' }}</h4>
    </div>

    <div *ngIf="currentTutorial.deficit === 0 && currentTutorial.surplus === 0">
      <h4 style="color: green">✅ Tout va bien, les montants correspondent.</h4>
    </div>


        <a class="badge badge-warning" routerLink="/tutorials/{{ currentTutorial.id }}">
            Éditer
        </a>
    }
    @else
    {<p>Please click on a Tutorial...</p>}
} @else {
    @if (currentTutorial.id) {
    <div class="edit-form">
        <h4>Opération Comptable</h4>
        <form>
            <div class="form-group">
                <label for="title">Date Opération</label>
                <input
                        [(ngModel)]="currentTutorial.title"
                        class="form-control"
                        id="title"
                        name="title"
                        type="text"
                />
            </div>
            <div class="form-group">
                <label for="recipeToday">Recette Courante</label>
                <input
                        [(ngModel)]="currentTutorial.recipeToday"
                        class="form-control"
                        id="recipeToday"
                        name="recipeToday"
                        type="text"
                />
            </div>
            <div class="form-group">
                <label for="balancePreviousMonth">Solde Mois Précédent</label>
                <input
                        [(ngModel)]="currentTutorial.balancePreviousMonth"
                        class="form-control"
                        id="balancePreviousMonth"
                        name="balancePreviousMonth"
                        type="text"
                />
            </div>
            <div class="form-group">
                <label for="operationTreasuryAnterior">Opération du Trésor Antérieure</label>
                <input
                        [(ngModel)]="currentTutorial.operationTreasuryAnterior"
                        class="form-control"
                        id="operationTreasuryAnterior"
                        name="operationTreasuryAnterior"
                        type="text"
                />
            </div>
            <div class="form-group">
                <label for="operationTreasuryToday">Opération du Trésor Courante</label>
                <input
                        [(ngModel)]="currentTutorial.operationTreasuryToday"
                        class="form-control"
                        id="operationTreasuryToday"
                        name="operationTreasuryToday"
                        type="text"
                />
            </div>
            <div class="form-group">
                <label for="operationPreviousRegulation">Opération de Régulation Antérieure</label>
                <input
                        [(ngModel)]="currentTutorial.operationPreviousRegulation"
                        class="form-control"
                        id="operationPreviousRegulation"
                        name="operationPreviousRegulation"
                        type="text"
                />
            </div>
            <div class="form-group">
                <label for="operationRegulationToday">Opération de Regulation Courante</label>
                <input
                        [(ngModel)]="currentTutorial.operationRegulationToday"
                        class="form-control"
                        id="operationRegulationToday"
                        name="operationRegulationToday"
                        type="text"
                />
            </div>
            <div class="form-group">
                <label for="postCurrentAccount">Compte Courant Postal</label>
                <input
                        [(ngModel)]="currentTutorial.postCurrentAccount"
                        class="form-control"
                        id="postCurrentAccount"
                        name="postCurrentAccount"
                        type="text"
                />
            </div>
            <div class="form-group">
                <label for="creditExpected">Crédit Attendu</label>
                <input
                        [(ngModel)]="currentTutorial.creditExpected"
                        class="form-control"
                        id="creditExpected"
                        name="creditExpected"
                        type="text"
                />
            </div>

            <div class="form-group">
                <label for="rateExpected">Débit Attendu</label>
                <input
                        [(ngModel)]="currentTutorial.rateExpected"
                        class="form-control"
                        id="rateExpected"
                        name="rateExpected"
                        type="text"
                />
            </div>
            <div class="form-group">
                <label for="otherValues">Autres Valeurs</label>
                <input
                        [(ngModel)]="currentTutorial.otherValues"
                        class="form-control"
                        id="otherValues"
                        name="otherValues"
                        type="text"
                />
            </div>
            <div class="form-group">
                <label for="statesRepartition">Etats de Répartition</label>
                <input
                        [(ngModel)]="currentTutorial.statesRepartition"
                        class="form-control"
                        id="statesRepartition"
                        name="statesRepartition"
                        type="text"
                />
            </div>
            <div class="form-group">
                <label for="moneySpecies">Argents en Espèce:</label>
                <input
                        [(ngModel)]="currentTutorial.moneySpecies"
                        class="form-control"
                        id="moneySpecies"
                        name="moneySpecies"
                        type="text"
                />
            </div>
            <div class="form-group">
                <label for="organismId">Organism Code</label>
                <input
                        [(ngModel)]="currentTutorial.organismCode"
                        class="form-control"
                        id="organismId"
                        name="organismId"
                        type="text"
                />
            </div>

            <div class="form-group">
                <label for="description">Description</label>
                <input
                        [(ngModel)]="currentTutorial.description"
                        class="form-control"
                        id="description"
                        name="description"
                        type="text"
                />
            </div>

            <div class="form-group">
                <label><strong>État d'opération:</strong></label>
                {{ currentTutorial.published ? "Validée" : "en Instance" }}
            </div>
        </form>
        @if (currentTutorial.published) {
        <button class="badge badge-primary mr-2"
          (click)="updatePublished(false)" >
          ne pas valider
        </button>
        }
        @else
            {
                <button class="badge badge-primary mr-2" (click)="updatePublished(true)">
                  Valider
                </button>
            }

        <button (click)="deleteTutorial()" class="badge badge-danger mr-2">
            Delete
        </button>

        <button
                (click)="updateTutorial()"
                class="badge badge-success mb-2"
                type="submit">
            Update
        </button>
        <p>{{ message }}</p>
    </div>
    }
    @else
    {<p>Cannot access this Tutorial...</p>}
}
