<div class="list row">
    <div class="col-md-8">
        <div class="input-group mb-3">
            <input
                    type="text"
                    class="form-control"
                    placeholder="Chercher par Date Opération"
                    [(ngModel)]="title"
            />
            <div class="input-group-append">
                <button
                        class="btn btn-outline-secondary"
                        type="button"
                        (click)="searchTitle()"
                >
                    Chercher
                </button>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <pagination-controls
                previousLabel="Préc"
                nextLabel="Suivt"
                [responsive]="true"
                (pageChange)="handlePageChange($event)"
        ></pagination-controls>
    </div>

    <div class="col-md-6">
        <h4>Liste des Opérations</h4>
        <ul class="list-group">
            <li
                    class="list-group-item"
                    *ngFor="
          let tutorial of tutorials | paginate : {
                  itemsPerPage: pageSize,
                  currentPage: page,
                  totalItems: count
                };
          let i = index
        "
                    [class.active]="i == currentIndex"
                    (click)="setActiveTutorial(tutorial, i)"
            >
                {{ tutorial.title }}
            </li>
        </ul>
    </div>

    <div class="col-md-6">
        <app-tutorial-details
                [viewMode]="true"
                [currentTutorial]="currentTutorial"
        ></app-tutorial-details>
    </div>

  <input
    type="email"
    class="form-control mb-2"
    placeholder="Email du destinataire"
    [(ngModel)]="email"
  />

  <button
    class="m-3 btn btn-sm btn-primary"
    (click)="sendByEmail(currentTutorial.id)"
  >
    📧 Envoyer par email
  </button>


  <div class="mt-3">
        <button class="m-3 btn btn-sm btn-danger" (click)="removeAllTutorials()">
            Supprimer Tous
        </button>

        élémnets par Page:
        <select (change)="handlePageSizeChange($event)">
            <option *ngFor="let size of pageSizes" [ngValue]="size">
                {{ size }}
            </option>
        </select>
    </div>
</div>
